[submodule "subprojects/hyprland-protocols"]
	path = subprojects/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols
[submodule "subprojects/udis86"]
	path = subprojects/udis86
	url = https://github.com/canihavesomecoffee/udis86
[submodule "subprojects/tracy"]
	path = subprojects/tracy
	url = https://github.com/wolfpld/tracy
[submodule "subprojects/monado"]
	path = subprojects/monado
	url = https://gitlab.freedesktop.org/monado/monado.git
	shallow = true
	ignore = dirty
[submodule "subprojects/eigen"]
	path = subprojects/eigen
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
	ignore = dirty
[submodule "subprojects/vulkan-headers"]
	path = subprojects/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	shallow = true
	ignore = dirty
[submodule "subprojects/hypxrpaper"]
	path = subprojects/hypxrpaper
	url = https://github.com/AndrewGaspar/hypxrpaper.git
	shallow = true
	ignore = dirty
